.er-breadcrumb {
  display: flex;
  padding: 25px 10px;
  align-items: center;
  font-size: 14px;
  line-height: 1;
  &-item {
    margin-right: 5px;
    display: flex;
    align-items: center;
    color: var(--er-black);
    a {
      color: var(--er-text);
      font-weight: normal;
      transition: all 0.4s;
      text-decoration: none;
      &:hover {
        color: var(--er-primary);
      }
    }
    &__separator {
      font-size: 12px;
      margin-left: 5px;
      font-style: normal;
      color: #555;
    }
  }
}
