# Editor directories and files
.idea
.vscode

# Package Manager
node_modules
.pnpm-debug.log*

# System
.DS_Store

# Bundle
dist
lib

# local env files
*.local

# Testing
coverage
stats.html
# dev.ts
# index.html

# Docs
cache