:root {
  --er-tab-font-size: 14px;
  --er-tab-height: 40px;
  --er-tab-line-duration: 0.3s;
}
.er-tab--large {
  --er-tab-font-size: 16px;
  --er-tab-height: 48px;
}
.er-tab--small {
  --er-tab-font-size: 12px;
  --er-tab-height: 32px;
}

.er-tab {
  display: flex;
  .er-tab {
    &__header {
      box-sizing: border-box;
      border-bottom: 2px solid var(--er-border);
      box-sizing: border-box;
    }
    &__wrapper {
      border: 1px solid transparent;
      border-bottom: none;
      display: inline-flex;
      position: relative;
      box-sizing: border-box;
    }
    &__line {
      position: absolute;
      height: 2px;
      width: 0;
      bottom: -2px;
      left: 0;
      background-color: var(--er-primary);
      transition: transform var(--er-tab-line-duration);
      z-index: 1;
    }
    &__item {
      position: relative;
      display: flex;
      height: var(--er-tab-height);
      padding: 0 20px;
      box-sizing: border-box;
      font-size: var(--er-tab-font-size);
      color: var(--er-text);
      text-decoration: none;
      align-items: center;
      border-right: 1px solid transparent;

      &.is-active {
        color: var(--er-primary);
      }
    }
    &__content {
      flex: 1;
      padding: 20px;
    }
  }
  // status
  &--top {
    flex-direction: column;
  }
  &--bottom {
    flex-direction: column-reverse;
  }
  &--left,
  &--right {
    .er-tab {
      &__header {
        border-bottom: none;
      }
      &__wrapper {
        flex-direction: column;
        border: none;
      }
      &__item {
        border: none;
      }
      &__line {
        width: 2px;
        height: 0;
        bottom: auto;
        top: 0;
      }
    }
    &.er-tab--card {
      .er-tab {
        &__header {
          border: none;
        }
        &__wrapper {
          border: 1px solid var(--er-border);
          border-radius: 0;
        }
        &__item {
          border-bottom: 1px solid var(--er-border);
        }
      }
    }
  }
  &--left {
    flex-direction: row;
    .er-tab {
      &__header {
        border-right: 2px solid var(--er-border);
      }
      &__item {
        border: none;
        border-bottom: 1px solid var(--border-card);
      }
      &__line {
        left: auto;
        right: -2px;
      }
    }
  }
  &--right {
    flex-direction: row-reverse;

    .er-tab {
      &__header {
        border-left: 2px solid var(--er-border);
      }
      &__wrapper {
        flex-direction: column;
        border: none;
      }
      &__item {
        border: none;
      }
      &__line {
        right: auto;
        left: -2px;
      }
    }
  }
  // type
  &--card {
    .er-tab {
      &__header {
        border-width: 1px;
        margin-bottom: 1px;
      }
      &__wrapper {
        border-color: var(--er-border);
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
      }
      &__line {
        display: none;
      }
      &__item {
        border-color: var(--er-border);
        border-left-color: transparent;

        &:last-of-type {
          border-color: transparent;
        }
      }
    }
  }
  &--border-card {
    box-shadow: 0 0 0 1px var(--er-border);
    .er-tab {
      &__header {
        border-width: 0;
        background-color: var(--er-bg);
      }
      &__wrapper {
        border: none;
      }
      &__item {
        &.is-active {
          background-color: var(--er-white);
        }
      }
      &__line {
        display: none;
      }
    }
  }
  // child component
  &-panel {
    display: none;
    &.is-active {
      display: block;
    }
  }
}
