:root {
  --er-checkbox-size: 14px;
  --er-checkbox-color: var(--xtx-color);
}

.er-checkbox {
  color: #333;
  font-weight: 400;
  font-size: var(--er-checkbox-size);
  position: relative;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  user-select: none;
  margin-right: 30px;
  height: 32px;

  &__label {
    display: inline-block;
    padding-left: 8px;
    line-height: 1;
    font-size: var(--el-checkbox-font-size);
    transition: all 0.15s;
  }

  &__input {
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    position: relative;
  }

  &__origin {
    opacity: 0;
    outline: none;
    position: absolute;
    margin: 0;
    width: 0;
    height: 0;
    z-index: -1;
  }

  &__inner {
    width: var(--er-checkbox-size);
    height: var(--er-checkbox-size);
    box-sizing: border-box;
    border-radius: 2px;
    border: 1px solid #dcdfe6;
    transition: all 0.15s;
    position: relative;
    &::after {
      content: '';
      box-sizing: content-box;
      border: 1px solid transparent;
      border-left: 0;
      border-top: 0;
      height: 7px;
      left: 4px;
      position: absolute;
      top: 1px;
      transform: rotate(45deg) scaleY(0);
      width: 3px;
      transition: transform 0.15s ease-in 0.15s;
      transform-origin: center;
    }
  }

  &.is_checked {
    .er-checkbox {
      &__inner {
        background-color: var(--er-checkbox-color);
        border-color: var(--er-checkbox-color);
        &::after {
          transform: rotate(45deg) scaleY(1);
          border-color: #fff;
        }
      }
      &__label {
        color: var(--er-checkbox-color);
      }
    }
  }
  &.is_indeterminate {
    .er-checkbox {
      &__inner {
        background-color: var(--er-checkbox-color);
        border-color: var(--er-checkbox-color);
        &::after {
          display: none;
        }
        &::before {
          content: "";
          position: absolute;
          display: block;
          background-color: #fff;
          height: 2px;
          transform: scale(.5);
          left: 0;
          right: 0;
          top: 5px;
        }
      }
    }
  }
}
