:root {
  --er-step-head-size: 36px;
  --er-step-vertical-space: 120px;
  --er-step-text-color: #999;
}
:root .er-step--large {
  --er-step-head-size: 48px;
}
:root .er-step--small {
  --er-step-head-size: 24px;
}

.er-step {
  display: flex;
  padding: 20px 0;
  &-item {
    flex: 1;
    &__head {
      position: relative;
      &::before,
      &::after {
        content: '';
        position: absolute;
        top: calc(50% - 1px);
        width: 50%;
        height: 2px;
        background-color: var(--er-border);
      }
      &::before {
        left: 0;
      }
      &::after {
        right: 0;
      }
      &.is-first {
        &::before {
          display: none;
        }
      }
      &.is-last {
        &::after {
          display: none;
        }
      }
    }
    &__box {
      position: relative;
      width: var(--er-step-head-size);
      height: var(--er-step-head-size);
      line-height: calc(var(--er-step-head-size) - 4px);
      font-size: calc(var(--er-step-head-size) / 2);
      border: 2px solid var(--er-border);
      border-radius: calc(var(--er-step-head-size) / 2);
      background: var(--er-white);
      box-sizing: border-box;
      z-index: 1;
      margin: 0 auto;
      color: var(--er-step-text-color);
      text-align: center;
      user-select: none;
    }
    &__text {
      text-align: center;
      color: var(--er-step-text-color);
    }
    &__title {
      font-size: 16px;
      margin-top: 10px;
    }
    &__desc {
      font-size: 12px;
      margin-top: 5px;
    }
    // active item
    &--active {
      .er-step {
        &-item {
          &__head {
            &::before,
            &::after {
              background-color: var(--er-primary);
            }
          }
          &__box {
            background-color: var(--er-primary);
            border-color: var(--er-primary);
            color: var(--er-white);
          }
          &__title {
            color: var(--er-primary);
          }
        }
      }
    }
  }
  // vertical step
  &.is-vertical {
    flex-direction: column;
    align-items: self-start;
    .er-step {
      &-item {
        flex: none;
        height: var(--er-step-vertical-space);
        width: 100%;
        display: flex;
        align-items: start;
        &__head {
          &::before {
            display: none;
          }
          &::after {
            width: 2px;
            height: var(--er-step-vertical-space);
            top: 100%;
            left: calc(50% - 1px);
          }
        }
        &__box {
          margin: 0;
        }
        &__text {
          text-align: left;
          padding-left: 10px;
        }
        &__title {
          margin-top: 0;
        }
        &:last-child {
          height: auto;
        }
      }
    }
  }
}
