@import '~@erabbit/icons/src/index.scss';

.er-icon {
  font-family: 'erabbit-icons';
  font-style: normal;

  &__image {
    display: block;
    width: 1em;
    height: 1em;
    object-fit: contain;
  }
}