@import '@erabbit-dev/icons/src/index.scss';

.er-icon--loading {
  display: inline-block;
  animation: er-spin 1s infinite linear;
  svg {
    vertical-align: middle;
    display: inline-block;
  }
}

@keyframes er-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
