.er-input-number {
  display: flex;

  // input
  &__input {
    transition: border 0.4s;
    flex: 1;
    overflow: hidden;
    border: 1px solid var(--er-border);
    border-right: none;
    border-left: none;
    text-align: center;
    z-index: 1;
    box-sizing: border-box;

    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      // hide the number input’s spin box
      -webkit-appearance: none;
    }
  }

  // button
  &__decrease,
  &__increase {
    cursor: pointer;
    transition: border 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f7fa;
    color: #85878b;
    border: 1px solid var(--er-border);

    svg {
      width: 13px;
      height: 13px;
    }

    &:hover {
      color: var(--er-primary);
    }
  }

  // disabled
  [disabled] {
    background-color: #f5f7fa;
    color: #e4e7ed;
    cursor: not-allowed;
  }

  // size
  &--small {
    width: 110px;
    height: 24px;
    .er-input-number {
      &__input {
        height: 24px;
      }

      &__decrease,
      &__increase {
        width: 24px;
        height: 24px;
      }
    }
  }

  &--middle {
    width: 120px;
    height: 30px;
    .er-input-number {
      &__input {
        height: 30px;
      }

      &__decrease,
      &__increase {
        width: 30px;
        height: 30px;
      }
    }
  }

  &--large {
    width: 160px;
    height: 40px;
    .er-input-number {
      &__input {
        height: 40px;
        font-size: 16px;
      }

      &__decrease,
      &__increase {
        width: 40px;
        height: 40px;
      }
    }
  }

  // :hover
  &:not(.disabled):hover {
    .er-input-number {
      &__input {
        border-color: var(--er-primary);
      }

      &__decrease,
      &__increase {
        border-color: var(--er-primary);
      }

      &__decrease {
        border-right-color: var(--er-border);
      }

      &__increase {
        border-left-color: var(--er-border);
      }
    }
  }
}
