:root {
  --er-message-icon-color: var(--er-text);
  --er-message-gap: 16px
}

.er-message--success {
  --er-message-icon-color: var(--er-success);
}

.er-message--warning {
  --er-message-icon-color: var(--er-warning);
}

.er-message--error {
  --er-message-icon-color: var(--er-danger);
}

.er-message {
  &-wrapper {
    position: fixed;
    left: 0;
    top: var(--er-message-gap);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: none;
    z-index: 1999;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  padding: 9px 12px;
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 6px 16px 0 rgba(0, 0, 0, 0.08),
  0 3px 6px -4px rgba(0, 0, 0, 0.12),
  0 6px 18px 6px rgba(0, 0, 0, 0.05);
  pointer-events: all;
  font-size: 16px;
  margin-bottom: var(--er-message-gap);
  will-change: transform, opacity;
  user-select: none;

  &__icon {
    margin-right: 6px;
    color: var(--er-message-icon-color);

    svg {
      display: block;
    }
  }

  &__text {
    font-size: 14px;
    color: var(--er-text);
  }
}

.msg {
  &-move,
  &-leave-active {
    transition: all 0.5s linear;
  }
  &-enter-active {
    transition: all 0.5s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  }
  &-enter-from,
  &-leave-to {
    opacity: 0;
    transform: translateY(-100%);
  }
  &-leave-active {
    position: absolute;
  }
}