.er-confirm {
  &__wrapper {
    width: 320px;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--er-white);
    border-radius: 4px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .12);

    transition: all 0.4s;
    transform: translate3d(-50%, calc(-50% - 20px), 0);
    opacity: 0;
    &.active {
      transform: translate3d(-50%, -50%, 0);
      opacity: 1;
    }
  }
  &__header,
  &__footer {
    height: 50px;
    line-height: 50px;
    padding: 0 16px;
  }
  &__body {
    padding: 10px 16px;
    font-size: 16px;
    p {
      display: inline;
      padding-left: 5px;
      color: var(--er-text);
    }
    i {
      color: var(--er-warning);
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h3 {
      margin: 0;
      font-weight: normal;
      color: var(--er-text);
      font-size: 18px;
    }
    i {
      cursor: pointer;
    }
  }
  &__footer {
    text-align: right;
    padding-bottom: 4px;
    .er-button {
      margin-left: 10px;
    }
  }
}
